<.simple_form :let={f} for={@changeset} action={@action} class="bg-none">
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:name]} type="text" label="Name" />
  <.input field={f[:comments]} type="text" label="Comments" />
  <:actions>
    <.button>Save Registration</.button>
  </:actions>
</.simple_form>
